::-webkit-scrollbar {
    display: none;
}

.masthead {
    /*background: url("../main.jpg");
    height:500px;
    background-repeat:no-repeat;
    background-size:cover;*/
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .1);
    background: url("../images/main.jpg") no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: fixed;
    background-position: center center;
    min-height: 740px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

.nav {
    margin-top: 15px;
}

.nav>* {
    float: right;
    margin: 10px;
}

.nav-buttons {
    margin-right: 5px;
}

.logo {
    margin-top: 20px;
    float: left;
}

.heading {
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    margin-bottom: 7px;
}

.subtitle {
    color: ghostwhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1;
    font-weight: 130;
    text-align: center;
    padding-top: 6px;
}

.textarea {
    margin-top: 9rem;
}

.searchbar {
    padding-top: 70px;
    height: 60px;
    vertical-align: center;
    width: 60%;
    text-align: center;
}

.featured {
    width: 100%;
}

.ui.grid.searcharea>* {
    padding-left: 2em;
}

.ui.form input[type=text] {
    width: 100%
}

@media all and (max-width:600px) {
    .searchbar {
        width: 95%
    }
    .ui.grid.subtitle {
        margin-left: 1px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway;
    font-weight: 300;
    color: #333;
}

p {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: #333;    
}
.sliderHeader{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #333;
}

.gridrow{ 
    width:100% !important;
}
/*   layout page styles    */
.navigation{ 
    width:130%  !important;
    height: 40px !important;
    margin-top: -14px !important;
    margin-bottom: -26px !important;
    margin-right: -5px !important;
   
 } 
 .mainLayer{
    width: 100% !important;
    margin: 0px !important; 
}
.header{ 
    margin: 9px 0px 0px 10%;
    font-weight: 500;
    font-size: x-large;
    color: white;
    text-decoration: none !important;
    
 }
 .header:hover, .header:focus{ 

    text-decoration: none !important;
    color: white !important;
    
 }
 .rightMenu{ 
    font-weight: 100;
   
 } 
 .menuItem{ 
     width:40px !important;
    margin-left:-5px !important;
    /*margin-right:-15px !important;*/
 }
 .avatarIcon{ 
    margin-top:-1px !important;
 } 

 /*   Roomlist page styles    */

 .secondLayer{
    width:100% ;
    height:150px;
    background-color: #682FD3;
    margin-top:12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: inset -19px 111px 34px -110px rgba(0,0,0,0.55);
    -moz-box-shadow: inset -19px 111px 34px -110px rgba(0,0,0,0.55);
    box-shadow: inset -19px 111px 34px -110px rgba(0,0,0,0.55);
}
.thirdLayer{
    width:80% !important;
    height:auto;
    margin:-60px 10% 0 10%;
    background-color: white;
    -webkit-box-shadow: -1px 5px 74px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 5px 74px -8px rgba(0,0,0,0.75);
    box-shadow: -1px 5px 74px -8px rgba(0,0,0,0.75);

}
.tophead{
    margin-top:20px;

    font-weight: 400;
    font-size: 22px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subtitleROOM{
    margin-top:5px;
    color: whitesmoke;
    font-weight: 300;
}
.filters{
    margin-top:30px;
    font-weight: 400;
}
.filterhead{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.itemCollection{
    margin-top:20px;
    margin-bottom: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.item{
    margin-top:5px;
}
.grey{
    float:right;
    font-weight: 100;
    color: grey;
    margin-top:-1px;
}
.cardGroup{
    margin-top:50px;
    margin-left:40px;
    margin-bottom: 50px;
    width:100%;
}
.arrange{
    width: 110% !important;
  
}

.ad1{
    margin-top:-14px;
    width:100%;
   
    
     /*background-image: url("/images/adstayw.jpg");*/
      background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (min-width:1205px) {
    .ad1 {
            margin-top:-14px;
            width:100%;
            height:350px;
            
            /*background-image: url("/images/adstayw.jpg");*/
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
    }
}



    /*styles of room card*/





.textLayer{
    width:100%;
    height: auto;
}



.review{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 100px;
    color:lightslategray;
    float:right;
    margin-right: 10px;
}

.bedrow{
    margin-bottom:-17px;
}

.marginRow{
    margin-top:-19px;
}
.marginSecRow{
    margin-top:-23px;
}




/*card editing...*/


#wrapper {
	width: 100%;
	/*max-width: 1100px;*/
	/*min-width: 800px;*/
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 40px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 40px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 40px;
	column-fill: auto;
}


@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}


.roomcard {
    width: 100%;
    height: auto;
    -webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
    display:inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    margin: 5px 2px 15px;
}

.roomcard img{
    width:100%;
    height: 200px;
 
}
.roomcard .ui.grid{
    margin: 10px 0px 0px 0px;
}
.roomcard .roomType{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 500px;
    color:darkslategray;
    margin:5px 0px 0px 0px;
    float:left;
}
.roomcard .roomPrice{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500px;
    color:darkslategray;
    float: right;
    margin:5px 0px 0px 0px;
    float:right;
    
}
.roomBeds{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 100px;
    color:lightslategray;
}
.locality{
    float:right;
}
.roomcard p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 100px;
    color:lightslategray;
    margin: 0 10px 0px 10px; 
}

/*detail view @page*/

.detail .detail_cover {

    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .1);
    background: url("../images/cover.jpg") no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: fixed;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

.detail .cover_row{
    padding:0px 0px 0px 0px !important;
    margin: -2px;
}
.detail .menu{
    background-color: white !important;
    width:100%;
    margin:0px 0px 0px 0px !important;
}
.detail .menu .item{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: dimgray;    
}
#overview1{
    margin-left: 10%;
}

.overview .title{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #333;
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 100%;
}

.overview .place{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 100px;
    color:grey;
}
.overview .place_column{
    padding:0px 0px 0px 0px !important;
}
.overview .rv{
    margin-left: 5px;
}
.overview .gaptitle{
   padding:5px 0px 0px 0px !important;
}

.overview .avatarname{
    margin-top:5px !important;
    font-weight: 300;
    color: #333;
}
.overview .avatarimg{
    margin-top:-5px !important;
}
.overview .avatarcolumn{
    width:100%;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:grey;
    font-size: 16px;
}
.overview .typeIcons{
    
    margin-left: -20px !important;
    width:93% !important;
    text-align: center;
}
.overview .line{
    margin-left: -30px !important;
    width:93% !important;
}
.overview .typeIcons p{
    text-align: justify;
}
.overview .typeIcons .subhead{
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 300%;
    
}
.overview .icon{
    color: #767676;
    float: right;
}
.overview .icon:hover{
    color: #6435C9;
}
.overview .typeIcons .secheader{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 200%;
}
.overview .amenitygrid{
    width:100% !important;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    color: #333;  
    text-align: left;
}

/*sticky card*/

.stickycard .rail{
    margin-left: -30px !important;
}
.stickycard .raised.segment{
    width:80% !important;
}

.stickycard .raised.segment .pricediv{
    
    height:200px;
    margin:-14px -0px 0px -14px;
    width:113%;
    color:white !important;
    /*background-color:#00B16A;*/
    background-color:#34495e;
}
.pricediv .pricehead{

    text-align:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color:white !important;
}
.pricediv .pricetag{
    font-size: 60px;
    margin-top:-8px !important;
    padding:0px !important;
    text-align:center;
}
.pricediv .pricesign{
    font-size: 18px;
    margin:0px 10px 0px 0px;
}
.pricediv .pricesignrow{
    margin-top:34px !important;
    padding:0px !important;
    text-align:right;
}
.pricedetails .detailtext{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #767676 !important;  
    line-height: 130%  
}
.pricedetails .bold{
    line-height: 170% !important;  
    font-weight: 500;
      
}
.reviews{
    width:100%;
}
.reviews .segment{
    width:106%;
}
.reviews .reviewheader{
    margin-left: 20px;
    text-align:left;
}
.reviewheader .grid{
    padding:0px !important;
    width:100% !important;
    margin:-50px 0px 0px 70px !important;
}
.reviewheader .grid .row{
    /*padding:0px !important;*/
    padding-top:7px;
    padding-bottom:0px;

}
.reviewheader .reviewperson{
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #333; 
}
.reviewheader .reviewdate{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-left: 10px;
    color: #767676; 
}
.reviews .divider{
    margin:-10px 0px 0px 20px !important;
}
.reviews p{
    margin: -12px 0px 0px 15px !important;
}
.reviews .fifteen.wide.column{
    padding-right: 40px;
}
.addreview{
    width:100%;
    text-align: left;
}
.addreview .form{
    margin-left: 30px;
}
.addreview .button{
    float:right;
}
.reviewaddicon{
    text-align: right;
    width: 100%;
    margin-left: 70px;
    margin-top:-25px;
}

#reviewform{
    display: none;
}

#reviewformview{
    width:10px;
    height: 20px;
    cursor: pointer;
    cursor: hand;
}
.host{
    width:100% !important;
    text-align: left;
}
.host .sixteen.wide.column{
    margin-top:-50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px !important;
    color: #767676; 
    line-height: 200%;
}
.host .layer{
    padding-bottom:30px !important;
}
.host img{
    margin-top:14px;
}
.portfolio{
   text-align: center;
    width:100%;
    padding: 20px 0px 0px 0px !important;
    
}
.portfolio .column{
    padding:0px !important;
    height: 300px !important;
    overflow: hidden;
}
.portfolio img{
    margin-bottom: -4px;
    width:100% !important;
    height: 100% !important;
}
.portfoliotitile{
    font-size: 25px;
    font-family: Raleway;
    font-weight: 300;
    color: #333;
}
.portfoliohead{
   text-align: center;
    width:100%;
    padding: 80px 0px 0px 0px !important;
    
}

/*overlay settings*/

.view-tenth img {
   -webkit-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
}

.view-tenth:hover img {
   -webkit-transform: scale(1.5) rotate(-15deg);
  transform: scale(1.5) rotate(-15deg);
}

.overlay {
  position: absolute;
  bottom: 0;
  background-color: black;
  opacity: .70;
  overflow: hidden;
  width: 100%;
  height:0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.ovcontent {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  width:100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.view-tenth:hover .overlay {
  height: 100%;

}

.ovcontent a {
  font-size: 18px;
  color: #333;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ovcontent .expand {
  margin-top: -500px;
  margin-left: -500px;
   -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.view-tenth:hover .ovcontent .expand {
  margin-top: 0;
  margin-left:0;
}
.ovcontent a:hover{
    background-color: #6435C9;
    color: white;
    opacity: 5.5;
}
.ovcontent .icon{
    margin-left:7px;
    margin-top:-2px;
}
