 {% for value in roomObj %}
    <a href="/room/{{ value.room.room_id }}/">
        <div class="roomcard">
            <img src="/media/{{value.photo.photo}}"/>
            <div class="ui grid">
                <div class="row marginRow">
                    <div class="left aligned sixteen wide column">
                        <span class="roomType">{{ value.room.type|title }} 
                                                {% if value.room.type == "ENTIRE" %}
                                                Home
                                                {% else %}
                                                Room
                                                {% endif%} 
                        </span>
                        <span class="roomPrice">₹ {{ value.room.price }}</span>
                    </div>
                </div>
                <div class="row marginSecRow bedrow">
                    <div class="left aligned column">
                        <span class="roomBeds">{% if value.room.no_beds == 1 %}
                                                    {{ value.room.no_beds }} bed
                                                {% else %}
                                                    {{ value.room.no_beds }} beds
                                                {% endif%} 
                        </span>
                        <span class="roomBeds locality">{{ value.room.city|title }},{{ value.room.state|lower }}</span>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui grid">
                <div class="row marginSecRow">
                    <div class="left aligned column">
                        <p>
                            <span>{{ value.room.title }}</span>
                        </p>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui grid">
            <div class="row marginSecRow">
                <div class="left aligned column">
                    <div class="ui star rating" data-rating="{{ value.room.avgrating }}" role="radiogroup"></div>
                    <span class="review">{{ value.rcount }} reviews</span>
                </div>
            </div>
        </div>
    </div>
</a>                                                    
{% endfor %}