{% extends "layout.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="ui grid mainLayer">
    <div class="row secondLayer gridrow">
        <div class="one wide column"></div>
        <div class="center aligned fourteen wide column">
            <div class="tophead">{{city}} - {{ rooms.count }} {% if rooms.count == 1 %}
              ROOM
              {% else %}
              ROOMS
            {% endif %}</div>
            <div class="subtitleROOM"> loherm / isdummy / textfor / webdevlopment</div>
        </div>
        <div class="one wide column"></div>
    </div>
    <div class="row thirdLayer">
        <div class="ui grid arrange">
            <div class="row">
                <div class="column">
                    <img src="{% static 'images/adstayw.jpg' %}" class="ad1" alt="ads"/>
                    <div class="ui grid">
                        <div class="row filters">
                            <div class="one wide column"></div>
                            <div class="three wide computer thirteen wide mobile three wide tablet three wide column">
                                <form id="roomFilteringForm">
                                    {% csrf_token %}
                                <div class="filterhead">CATEGORY</div>
                                <div class="itemCollection">
                                            <div class="item">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" class="filterCheck" id="roomlistPrivate">
                                                    <label>Private</label>
                                                    <input type="hidden" id="roomlistCity" value="{{city}}"/>
                                                </div>
                                                <div class="grey">(237)</div>
                                            </div>
                                            <div class="item">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" class="filterCheck" id="roomlistHostel">
                                                    <label>Hostel</label>
                                                </div>
                                                <div class="grey"> (50)</div>
                                            </div>
                                            <div class="item">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" class="filterCheck" id="roomlistShared">
                                                    <label>Shared</label>
                                                </div>
                                                <div class="grey">(420)</div>
                                            </div>
                                            <div class="item">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" class="filterCheck" id="roomlistEntire">
                                                    <label>Entire home</label>
                                                </div>
                                                <div class="grey">(100)</div>
                                            </div>
                                </div>
                                <div class="ui divider"></div>
                                <div class="filterhead">AMENITIES</div>
                                <div class="itemCollection">
                                            <div class="item">
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox" class="filterCheck" id='roomlistAc'>
                                                    <label>A/c</label>
                                                </div>
                                                <div class="grey">(237)</div>
                                            </div>
                                            <div class="item">
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox" class="filterCheck" id='roomlistWifi'>
                                                    <label>Wifi</label>
                                                </div>
                                                <div class="grey"> (50)</div>
                                            </div>
                                            <div class="item">
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox" class="filterCheck" id="roomlistFurnitured">
                                                    <label>Furnitured</label>
                                                </div>
                                                <div class="grey">(420)</div>
                                            </div>
                                            <div class="item">
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox" class="filterCheck" id="roomlistPets">
                                                    <label>Pets allowed</label>
                                                </div>
                                                <div class="grey">(100)</div>
                                            </div>
                                            <div class="item">
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox" class="filterCheck" id="roomlistKitchen">
                                                    <label>Kitchen</label>
                                                </div>
                                                <div class="grey">(100)</div>
                                            </div>
                                </div>
                                <div class="ui divider"></div>
                                <!-- <div class="filterhead">PRICE RANGE</div> 
                                <div class="itemCollection">
                                            
                                </div>
                                <div class="ui divider"></div> -->
                            </form>
                            </div>
                            <div class="right aligned eleven wide computer fourteen wide mobile eleven wide tablet eleven wide column">
                                <div>Sort: Popular| New | Rating: LowHigh | Price: LowHigh</div>
                                <div class="ui center aligned grid">
                                    <div class="row">
                                        <div class="cardGroup">
                                        
                                                        <!-- cards start here -->
                                                                
                                                                    
                                         <div id="wrapper">
                                             <div id="columns">
                                                        <!-- card starts -->
                                                 {% for value in roomObj %}
                                                     <a href="/room/{{ value.room.room_id }}/">
                                                    <div class="roomcard">
                                                        <img src="/media/{{value.photo.photo}}"/>
                                                        <div class="ui grid">
                                                                    <div class="row marginRow">
                                                                        <div class="left aligned sixteen wide column">
                                                                            <span class="roomType">{{ value.room.type|title }} 
                                                                                                    {% if value.room.type == "ENTIRE" %}
                                                                                                         Home
                                                                                                    {% else %}
                                                                                                         Room
                                                                                                    {% endif%} 
                                                                            </span>
                                                                            <span class="roomPrice">₹ {{ value.room.price }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row marginSecRow bedrow">
                                                                        <div class="left aligned column">
                                                                            <span class="roomBeds">{% if value.room.no_beds == 1 %}
                                                                                                        {{ value.room.no_beds }} bed
                                                                                                    {% else %}
                                                                                                        {{ value.room.no_beds }} beds
                                                                                                    {% endif%} 
                                                                            </span>
                                                                            <span class="roomBeds locality">{{ value.room.city|title }},{{ value.room.state|lower }}</span>
                                                                        </div>
                                                                    </div>
                                                        </div>
                                                        <div class="ui divider"></div>
                                                        <div class="ui grid">
                                                            <div class="row marginSecRow">
                                                                    <div class="left aligned column">
                                                                        <p>
                                                                            <span>{{ value.room.title }}</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                        <div class="ui divider"></div>
                                                        <div class="ui grid">
                                                            <div class="row marginSecRow">
                                                                <div class="left aligned column">
                                                                    <div class="ui star rating" data-rating="{{ value.room.avgrating }}" role="radiogroup">
                                                                                
                                                                    </div>
                                                                    <span class="review">{{ value.rcount }} reviews</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                     </a>
                                                    
                                                {% endfor %}
                                                    <!-- card ends -->
                                               

                                            </div>
                                        </div>

                         <!-- cards end here -->                                     
                                               </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row"></div>
    </div>
  
{% endblock content %}