{% extends "layout.html" %}
{% load static from staticfiles %}
{% block content %}
<div class="ui grid mainLayer">
    <div class="row secondLayer gridrow">
        <div class="one wide column"></div>
        <div class="center aligned fourteen wide column">
            <div class="tophead">{{city}} - {{ rooms.count }} {% if rooms.count == 1 %}
              ROOM
              {% else %}
              ROOMS
            {% endif %}</div>
            <div class="subtitleROOM"> loherm / sfsdfds / sdfdfs / loherm</div>
        </div>
        <div class="one wide column"></div>
    </div>
    <div class="row thirdLayer">
        <div class="ui grid arrange">
            <div class="row">
                <div class="column">
                    <img src="{% static 'images/adstayw.jpg' %}" class="ad1" alt="ads"/>
                    <div class="ui grid">
                        <div class="row filters">
                            <div class="one wide column"></div>
                            <div class="three wide computer thirteen wide mobile three wide tablet three wide column">
                                <div class="filterhead">CATEGORY</div>
                                <div class="itemCollection">
                                            <div class="item">
                                                <div class="ui checkbox">
                                                    <input type="checkbox">
                                                    <label>Private</label>
                                                </div>
                                                <div class="grey">(237)</div>
                                            </div>
                                            <div class="item">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" >
                                                    <label>Hostel</label>
                                                </div>
                                                <div class="grey"> (50)</div>
                                            </div>
                                            <div class="item">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" >
                                                    <label>Shared</label>
                                                </div>
                                                <div class="grey">(420)</div>
                                            </div>
                                            <div class="item">
                                                <div class="ui checkbox">
                                                    <input type="checkbox" >
                                                    <label>Entire home</label>
                                                </div>
                                                <div class="grey">(100)</div>
                                            </div>
                                </div>
                                <div class="ui divider"></div>
                                <div class="filterhead">AMENITIES</div>
                                <div class="itemCollection">
                                            <div class="item">
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox">
                                                    <label>A/c</label>
                                                </div>
                                                <div class="grey">(237)</div>
                                            </div>
                                            <div class="item">
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox">
                                                    <label>Wifi</label>
                                                </div>
                                                <div class="grey"> (50)</div>
                                            </div>
                                            <div class="item">
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox">
                                                    <label>Furnitured</label>
                                                </div>
                                                <div class="grey">(420)</div>
                                            </div>
                                            <div class="item">
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox">
                                                    <label>Pets allowed</label>
                                                </div>
                                                <div class="grey">(100)</div>
                                            </div>
                                </div>
                                <div class="ui divider"></div>
                                <div class="filterhead">PRICE RANGE</div>
                                <div class="itemCollection">
                                            
                                </div>
                                <div class="ui divider"></div>
                            </div>
                            <div class="right aligned eleven wide computer fourteen wide mobile eleven wide tablet eleven wide column">
                                <div>Sort: Popular| New | Rating: LowHigh | Price: LowHigh</div>
                                <div class="ui center aligned grid">
                                    <div class="row">
                                        <div class="cardGroup">
                                        
                                                        <!-- cards start here -->
                                                                
                                                                    
                                         <div id="wrapper">
                                             <div id="columns">
                                                        <!-- card starts -->
                                                 {% for room in rooms %}
                                                     <a href="/room/{{ room.room_id }}/">
                                                    <div class="roomcard">
                                                        <img src="/media/{{room.photo}}"/>
                                                        <div class="ui grid">
                                                                    <div class="row marginRow">
                                                                        <div class="left aligned sixteen wide column">
                                                                            <span class="roomType">{{ room.type|title }}</span>
                                                                            <span class="roomPrice">₹ {{ room.price }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row marginSecRow bedrow">
                                                                        <div class="left aligned column">
                                                                            <span class="roomBeds">2 beds</span>
                                                                            <span class="roomBeds locality">{{ room.state|title }},{{ room.city|title }}</span>
                                                                        </div>
                                                                    </div>
                                                        </div>
                                                        <div class="ui divider"></div>
                                                        <div class="ui grid">
                                                            <div class="row marginSecRow">
                                                                    <div class="left aligned column">
                                                                        <p>
                                                                            <span>fully furnished 3 bedroom flat.lohrem is the dummy text used in web development</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                        <div class="ui divider"></div>
                                                        <div class="ui grid">
                                                            <div class="row marginSecRow">
                                                                <div class="left aligned column">
                                                                    <div class="ui star rating" data-rating="{{ room.avg }}" role="radiogroup">
                                                                                <i class="icon active"></i>
                                                                                <i class="icon active"></i>
                                                                                <i class="icon"></i>
                                                                                <i class="icon"></i>
                                                                                <i class="icon"></i>
                                                                    </div>
                                                                    <span class="review">2 reviews</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                     </a>
                                                    {% endfor %}
                                                    <!-- card ends -->
                                               

                                            </div>
                                        </div>

                         <!-- cards end here -->                                     
                                               </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row"></div>
    </div>
  
{% endblock content %}